//color palette: #3E92CC, #2A628F, #13293D, #16324F, #18435A

body {
  background-color: $rootColor;
  border-color: $accentColor;
  margin: $space;
  @include flex();
  @include center();
  @include borderRadius();
  @include box-shadow();

  
}